Button
  background-color: #b0c4de
  margin: 15px;
  border: 1px solid #e3e3e3
  font-size: 16px
  padding: 10px 25px
  cursor: pointer
  transition: background-color .2s ease
  &:hover
    background-color: background-color-gray-blue-select

.button-blue
  background-color: font-color-gray-blue




