.accordion__
  &block
    width: 500px
    margin: 50px 0
    border: 1px solid #e3e3e3
  &content
    padding: 10px 20px
    background-color: #b0c4de
    cursor: pointer
    font-size: 20px
  &addition
    max-height: 0
    overflow: hidden
    font-size: 15px
    line-height: 18px
    transition: max-height .5s ease-out
    &-text
      display: inline-block
      width: 100%
      padding: 10px 20px
    &.active
      max-height: 500px


