.girl
   &__
      &info
         display: inline-block
         margin: 0 auto
      &image
         width: 500px
         height: 500px
         margin: 0 auto
         background-image: url('./img/girl.svg')
         background-repeat: no-repeat
         background-size: contain
