/*
100    Extra Light or Ultra Light
200    Light or Thin
300    Book or Demi
400    Normal or Regular
500    Medium
600    Semibold, Demibold
700    Bold
800    Black, Extra Bold or Heavy
900    Extra Black, Fat, Poster or Ultra Black
*/

@font-face
  font-family: Roboto
  src: url("./fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
        url("./fonts/Roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700
  font-style: normal

@font-face
  font-family: Roboto
  src: url("./fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
        url("./fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400
  font-style: normal

body
  margin: 0
  padding: 0
  font-family: $globalFontFamily
  *
    box-sizing: border-box

.app
  display: flex
  flex-direction: column
  align-items: center
  font-family: Roboto, Sans-Serif
  font-weight: 400
