$globalFontFamily = Roboto, sans-serif


$main-font-color = #2b2c2e
$font-color-gray = #5f5f5f
$font-color-gray-light = #7a7a7a
$font-color-disabled = #bdbdbd
$font-color-red = #dc5538
$font-color-green = #219653
$font-color-gray-blue = #487a9d

$background-color-gray = #f2f3f5
$background-color-gray-darker = #F8F8F8
$background-color-gray-blue = #77add4
$background-color-gray-blue-select = #8CB7D6
$background-color-gray-blue-light = #dbeaf5
$background-color-gray-blue-super-light = #F1F7FB
$background-color-blue = #f3f7f9
$background-color-green = #3dad6d
